<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    </head>
	<h1>Add New Item</h1>
	<form action={{url_for('itemAdd')}} method='post'>
		<dt>Name:  <input type ='text' size='30' name='name' placeholder = 'item_name'></dt>
		<dt>Category:
			<select name="category">
			  {% for category in categories %}
			  <option value={{category.id}}>{{category.name}}</option>
			  {% endfor %}
			</select>
		</dt>
		Description<input type='text' size=350 name='description'>
		<input type='submit' value='submit'>
	</form>
	<a href = '{{url_for('catelog')}}'> Cancel </a>
</html>
